.inputContainer {
  display: flex;
  align-items: center;
  margin: 15px 2px;
  padding-bottom: 5px;
}

.inputBox {
  width: 100%;
  border-radius: 10px;
  padding: 8px;
  margin-right: 8px;
  border: none;
}

.inputBox:disabled {
  background-color: #e2e2e2;
}

.inputButton {
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 8px;
  border: none;
  border-color: rgb(255, 255, 255);
  cursor: pointer;
}

.inputButton:hover {
  background-color: #e2e2e2;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.customButton:focus {
  box-shadow: 0px 0 2px black !important;
}

.customPopup {
  height: 400px !important;
  width: 500px !important;
}
