.container {
  margin-top: 20px;
  background-color: black;
  border-radius: 20px;
  color: white;
  margin: 20px 10px 15px 15px;
  padding: 20px;
}

.closeChatroomButton {
  float: right;
  cursor: pointer;
}

.inputContainer {
  display: flex;
  align-items: center;
}

.inputBox {
  width: 90%;
  border-radius: 10px;
  padding: 8px;
  margin-right: 8px;
  border: none;
}

.inputButton {
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 8px;
  border: none;
  border-color: rgb(255, 255, 255);
  cursor: pointer;
}

.inputButton:hover {
  background-color: #e2e2e2;
}
