.footer {
  position: fixed;
  bottom: 0;
  width: calc(100% - 100px);
  margin-left: 50px;
  background-color: #000;
  color: #a5c9ff;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 5px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.text {
  margin: 0;
  font-size: 12px;
  background-color: #000;
  margin-left: 50px;
  width: calc(100% - 100px);
}
