.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 3%;
  background-color: #000;
  border-end-start-radius: 50px;
  border-end-end-radius: 50px;
  margin: 0px 50px;
}

.navLink {
  color: #a5c9ff;
  text-decoration: none;
  transition: color 0.3s ease;
  background-color: transparent;
  font-weight: 500;
  font-size: 20px;
}

.nav {
  display: flex;
  gap: 5px;
  font-size: 20px;
  background-color: transparent;
}

.navLink {
  padding: 3px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navLink:hover {
  color: #e2e2e2;
}

.link {
  position: relative;
  color: whitesmoke;
  font-size: 20px;
  text-decoration: none;
}

.link:before,
.link:after {
  content: "[";
  display: inline-block;
  position: relative;
  top: 1px;
  height: 100%;
  font-size: 1.25em;
  color: #a5c9ff;
  transition: all 0.5s ease;
}

.link:after {
  content: "]";
}

.link:hover:before {
  transform: translateX(-5px);
}

.link:hover:after {
  transform: translateX(5px);
}
