.createChatroomButton {
  width: 50%;
  background-color: black;
  color: white;
  padding: 15px;
  border-radius: 15px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.createChatroomButton:hover {
  background-color: #333;
}

.chatroomContainer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  border-radius: 30px;
  width: 80%;
}

.createChatroomButtonContainer {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}
